
body{
    margin:0;
    color:white;
}
ul{
    list-style: none;
}


img{
    border-radius: 15px;
}


/*navbar */
#top-logo{
    width:auto;
    background-size: contain;
    background-image: url(../img/thalassa_LOGO_1-white.png);
    height:auto;
    padding-left: 11em;
    background-repeat: no-repeat;
    background-color:#007bff;   
    position: relative;
    left:0em;
    margin-left:0;  
    margin-right:0;
    background-position-x: 2%;
    color: white;
    margin-bottom: 0.1em;

}


.dropdown-menu{
    margin: 0.125rem 2.125rem 0;

}

.dropdown-menu a{
    align-self: center;
    
}

.dropdown, .dropleft, .dropright, .dropup {
    position: relative;
    left:-1rem;
    text-align: left;
}
#all-nav{
    margin-left: 0;
    margin-right:0;
}
@media screen and (max-width:544px){
    #top-logo {
        
        background-image: none;
        padding-left: 0;
        margin-bottom: 0.1em;
    }
}
@media screen and (max-width:990px){
    #top-logo {
        background-position-x: 60%;
        background-position-y: 75%;
        background-size:15%;
        padding-left: 0;
        margin-bottom: 0.1em;
    }
}

.navbar-light .navbar-brand {
    color: white;
}
.dropdown-item:hover { 
    background-color:#0275d8;
    color:white;
    
}

.navbar-brand:hover {
    font-weight: 500;

}


/*carousel*/

#carousel-cont{
    margin-left: 0;
    margin-right:0;
}


.carousel-inner img {
   width: 100%;
   height: 45vw;
}



/*jumbotron*/


.jumbotron{
    color:black;
    margin-bottom: 5px;
}



/*weeks menu*/

#weeks{        
    border-radius: 10px;    
    background-image: url(img/sea_3.jpg);
    background-size: cover;
    opacity: 0.95;
    
}

#weeks ul{
    margin-bottom: 2.5em;

}
#weeks li {
    justify-content: center;
    display: grid;
    grid-template-columns: 80% 20%;
    text-align: left;
    place-items: center;    
    height:2.9em;
}
    
.badge.badge-primary {
    line-height: 1.5;    
}


#weeks h3{
    text-shadow: black 2px 2px; 
    text-align: center;
    padding-bottom: 1em;
}

#weeks h4{    
    text-shadow: black 2px 2px; 
    margin-top:1em;
    margin-bottom: 0.8em;
    padding-bottom: 0.8em;
}
#weeks h5{
    text-shadow: black 2px 2px; 
    margin-top: 5em;
    text-align: center;
    padding-bottom: 2.5em;
}

#weeks a{ 
    justify-self: left;
    text-shadow: black 1px 1px;
    font-weight: 500;
    padding-left:5%;
    padding-right:5%;
    text-decoration: none;
    color:white;
}
#weeks a:hover {
    
    border-radius: 10rem;
    border: 1px white solid;
    text-decoration: none;
    background-color: rgba(40, 137, 228, 0.548);
    padding-left:5%;
    padding-right:5%;
    text-shadow: black 1px 1px;
    font-weight: 700;


}


/* map */

iframe {
    
    border:1px grey dotted;
    margin-top: 1em;
    margin-bottom: 1em;
    display: inline;
    width:100%;
    height:25em;
}


/*contact form*/

label{
    font-weight: 600;
    color:black;
}



#contact {
    margin-top:5em;
    margin-bottom: 3em;
    background-color: rgba(231, 176, 124, 0.747);
    padding-bottom: 2em;
}




#contact h1 {
    color:black;
    text-align: center;
}

#contact h5{
    color:gray;
    text-align: center;

}

.form-group {
    border-radius: 10px;

}

textarea{
    margin-bottom: 2em;
}

.adress {
    text-align: center;
    color: black;
}
.adress h4{
    text-align: center;
}
.adress p{
    color:grey; 
}

.times{
    color:black;
    text-align: center;
}


/*footer*/
#footer-all{    
    border-radius: 10px;
    border-top:solid 1px white;
    background-color: rgba(72, 127, 173, 0.5);
}

footer{       
    color:black;
}

#footer_container{
    padding-top: 2em;
    z-index: -1;
}

#footer_container h5{
    padding:0.5em;
    margin:0;
}

#copyright{
    background-color:#0275d8

}
#copyright-text{    
    padding-top:2em;
    padding-bottom:2em;
    text-align: right;
    padding-right: 2em;   
    height:5em;
}

#copyright-text>a{
    color:white;
}
#logo{
   background-image: url(../img/thalassa_LOGO_1-white.png);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   
}
.fa-instagram{
    color:blueviolet;
    z-index: 9999;
}

.fa-instagram:hover{
    font-weight: 900;
    color:blueviolet;
    z-index: 9999;
}

.fa-youtube{
    color:red;
}

.fa-youtube:hover{
    font-weight: bolder;
}



/*about*/


#about{

    padding-left:2%;    
    color:black; 
    margin-left: auto;
    margin-right:auto;
    background-color: #9c9b8833;
    padding-bottom: 7.5rem !important;
}
#about h2{
    margin-top: 0.5rem;
    margin-bottom: 1.4rem;
    color: #2d587d;
}

/*gallery*/

#gallery{
    text-align: center;
    background-color: rgba(110, 78, 59, 0.521);
    color:black;    
    margin-top:2px;
    margin-bottom: 1px;
    border-radius: 15px;
}

#gallery img{
    width:325px;
    height:175px;
}

#gallery-title{
    text-shadow: 2px 2px #6b8884;
    padding-top:1rem;
    height:4em;
    background-color: #a3bed6;

}


#gallery h2 {
    height: 100px;
    position: relative;
    top: 25px;
    margin-bottom: 0;
    
}
#gallery h6{
    padding-top: 0.5em;
}

header {
    margin-top: 0;
    padding-top:0 ;
    padding-bottom:0;
    color:black;
}

/* contact message*/
.alert{
    width:fit-content;
    height: fit-content;
    text-align: center;   
    background: rgb(19, 140, 196);
    color: white;
    margin-bottom: 1em;
    display: none;
}

